body {
  margin: 0;
  background: linear-gradient(to bottom, pink, hotpink);
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.card {
  position: relative;
  z-index: 10;
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  margin: 100px auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

button {
  background: hotpink;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* ANIMASI HATI */
.heart {
  position: absolute;
  color: red;
  font-size: 20px;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}
